.note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    max-height: 70rem;
    border-radius: 0.5rem;
    padding: 1.2rem;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    break-inside: avoid;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: border 0.2s;

    &:hover {
        border-color: rgba($color: #fff, $alpha: 0.4);
    }

    h3,
    p {
        line-height: 1.4;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.4;
        white-space: pre-wrap;
        min-height: 6rem;
    }
}

.note-images {
    img {
        width: 100%;
        margin: 0 4px 8px 0;
    }
}
